<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="css/charts.css?randomId=455">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://lib.baomitu.com/echarts/5.2.0/echarts.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts-gl/2.0.7/echarts-gl.min.js"></script>
</head>

<body>
    <div id="charts">
        <el-container>
            <el-header height="150px">
                <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
                    <a class="navbar-brand" href="/dashTable">Dash_Table</a>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="navbar-brand" href="#">Charts</a>
                        </li>
                    </ul>
                </nav>
                <el-row :gutter="20">
                </el-row>
                <el-row :gutter="20">
                </el-row>
                <el-row :gutter="20">
                    <el-col :span="4">
                        <div class="grid-content bg-purple">
                            <div style="margin-top: 0px;padding-top: 5px;">
                                <el-select v-model="svalue" placeholder="case" @change="handleSelect">
                                    <el-option label="total case" value="1"></el-option>
                                    <el-option label="new cases" value="2"></el-option>
                                    <el-option label="new deaths" value="3"></el-option>
                                    <el-option label="total deaths" value="4"></el-option>
                                </el-select>
                            </div>
                        </div>
                    </el-col>
                </el-row>
            </el-header>
            <el-main id="center-map">
            </el-main>
            <el-main id="district-map">
            </el-main>
        </el-container>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="myContent" style="width:800px;height:560px;">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                </div>
                <div class="modal-body" style="width:800px;">
                    <div id="detials-charts" style="width:800px;height:400px;">
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn" type="button" class="btn btn-primary">Switch</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</body>
<script type="text/javascript">
    $.ajaxSetup({
        async: false
    });
    new Vue({
        el: '#charts',
        data() {
            return {
                new_deaths: [],
                total_deaths: [],
                new_cases: [],
                total_cases: [],
                set_onclick: 0,
                district: ['World', 'Europe', 'Asia', 'South America', 'North America', 'European Union', 'Africa'],
                svalue: '',
            }
        },
        mounted: function () {
            this.getTotalCase()
            this.echartsRegisterMap()
            var color = ['#c5d7ff', '#98c1ff', '#6ea8fd', '#4791ff', '#3887ff', '#1170ff', '#0076ad']
            this.DrawDistrictMap("Total Case", this.total_cases)
            this.DrawCenterView(color, "Total Case", this.total_cases)
        },
        methods: {
            handleSelect(id) {
                var _this = this
                if (id == 1) {
                    _this.getTotalCase()
                    var color = ['#ffeece', '#98c1ff', '#6ea8fd', '#4791ff', '#3887ff', '#1170ff', '#0076ad']
                    _this.DrawCenterView(color, "Total Case", _this.total_cases)
                    _this.DrawDistrictMap("Total Case", _this.total_cases)
                }
                else if (id == 2) {
                    _this.getNewCase()
                    var color = ['#ffeece', '#abf3c7', '#47da7f', '#27bd61', '#29ac5b', '#0c9741', '#076e2e']
                    _this.DrawCenterView(color, "New Case", _this.new_cases)
                    _this.DrawDistrictMap("New Case", _this.new_cases)
                }
                else if (id == 3) {
                    _this.getNewDeath()
                    var color = ['#ffeece', '#e26f3a', '#d66029', '#d14f12', '#b6400a', '#9c3a0d', '#812900']
                    _this.DrawCenterView(color, "New Death", _this.new_deaths)
                    _this.DrawDistrictMap("New Death", _this.new_deaths)
                }
                else if (id == 4) {
                    _this.getTotalDeath()
                    var color = ['#ffeece', '#c5c4c4', '#b4b3b3', '#a5a4a4', '#949494', '#868585', '#727070']
                    _this.DrawCenterView(color, "Total Death", _this.total_deaths)
                    _this.DrawDistrictMap("Total Death", _this.total_deaths)
                }
            },
            getTotalCase() {
                var _this = this
                if (_this.total_cases.length == 0) {
                    $.get('/total_cases', function (getdata) {
                        _this.total_cases = getdata
                    })
                }
            },
            getNewCase() {
                var _this = this
                if (_this.new_cases.length == 0) {
                    $.get('/new_cases', function (getdata) {
                        _this.new_cases = getdata
                    })
                }
            },
            getNewDeath() {
                var _this = this
                if (_this.new_deaths.length == 0) {
                    $.get('/new_deaths', function (getdata) {
                        _this.new_deaths = getdata
                    })
                }
            },
            getTotalDeath() {
                var _this = this
                if (_this.total_deaths.length == 0) {
                    $.get('/total_deaths', function (getdata) {
                        _this.total_deaths = getdata
                    })
                }
            },
            echartsRegisterMap() {
                var _this = this
                var worldjs
                $.get('http://127.0.0.1:8081/json/world.json', function (js) {
                    worldjs = js
                })
                echarts.registerMap('world', worldjs);
            },
            DrawDistrictMap(label, data) {
                var _this = this
                var DistrictDom = document.getElementById("district-map")
                var DistrictView = echarts.init(DistrictDom)
                DistrictView.clear()
                DistrictView.showLoading();
                var datas = []
                for (var i = 0; i < _this.district.length; i++) {
                    datas.push([])
                }
                for (var i = 0; i < data.length; i++) {
                    Object.keys(data[i].data).forEach(function (key) {
                        if ($.inArray(key, _this.district) != -1) {
                            var index = $.inArray(key, _this.district)
                            datas[index].push({ name: data[i].date, value: data[i].data[key] })
                        }
                    });
                }
                var option = {
                    title: {
                        text: 'Situation by Region' + '(' + label + ')'
                    },
                    legend: {
                        data: _this.district
                    },
                    toolbox: {
                        // y: 'bottom',
                        feature: {
                            magicType: {
                                type: ['stack']
                            },
                            dataView: {},
                            restore: {},
                            saveAsImage: {
                                pixelRatio: 2
                            }
                        }
                    },
                    tooltip: {},
                    xAxis: {
                        data: datas[0].map(function (item) {
                            return item.name;
                        }),
                        splitLine: {
                            show: false
                        }
                    },
                    yAxis: {},
                    series: [
                        {
                            name: _this.district[0],
                            type: 'bar',
                            data: datas[0],
                            emphasis: {
                                focus: 'series'
                            },
                            animationDelay: function (idx) {
                                return idx * 10;
                            }
                        },
                        {
                            name: _this.district[1],
                            type: 'bar',
                            data: datas[1],
                            emphasis: {
                                focus: 'series'
                            },
                            animationDelay: function (idx) {
                                return idx * 10 + 100;
                            }
                        },
                        {
                            name: _this.district[2],
                            type: 'bar',
                            data: datas[2],
                            emphasis: {
                                focus: 'series'
                            },
                            animationDelay: function (idx) {
                                return idx * 10 + 200;
                            }
                        },
                        {
                            name: _this.district[3],
                            type: 'bar',
                            data: datas[3],
                            emphasis: {
                                focus: 'series'
                            },
                            animationDelay: function (idx) {
                                return idx * 10 + 300;
                            }
                        },
                        {
                            name: _this.district[4],
                            type: 'bar',
                            data: datas[4],
                            emphasis: {
                                focus: 'series'
                            },
                            animationDelay: function (idx) {
                                return idx * 10 + 400;
                            }
                        },
                        {
                            name: _this.district[4],
                            type: 'bar',
                            data: datas[4],
                            emphasis: {
                                focus: 'series'
                            },
                            animationDelay: function (idx) {
                                return idx * 10 + 400;
                            }
                        },
                        {
                            name: _this.district[5],
                            type: 'bar',
                            data: datas[5],
                            emphasis: {
                                focus: 'series'
                            },
                            animationDelay: function (idx) {
                                return idx * 10 + 500;
                            }
                        },
                        {
                            name: _this.district[6],
                            type: 'bar',
                            data: datas[6],
                            emphasis: {
                                focus: 'series'
                            },
                            animationDelay: function (idx) {
                                return idx * 10 + 600;
                            }
                        }
                    ],
                    animationEasing: 'elasticOut',
                    animationDelayUpdate: function (idx) {
                        return idx * 5;
                    }
                };
                DistrictView.hideLoading()
                DistrictView.setOption(option)
            },
            DrawCenterView(color, label, data) {
                var _this = this
                var centerDom = document.getElementById("center-map")
                var centerView = echarts.init(centerDom)
                centerView.clear()
                centerView.showLoading()
                var option = {
                    baseOption: {
                        animationDurationUpdate: 1000,
                        animationEasingUpdate: 'quinticInOut',
                        backgroundColor: '#ffffff',
                        timeline: {
                            axisType: 'category',
                            orient: 'vertical',
                            autoPlay: true,
                            inverse: true,
                            playInterval: 5000,
                            left: null,
                            right: 50,
                            top: 20,
                            bottom: 50,
                            width: 46,
                            height: null,
                            label: {
                                normal: {
                                    textStyle: {
                                        color: '#ddd'
                                    },
                                    position: 'right'
                                },
                                emphasis: {
                                    textStyle: {
                                        color: color[3]
                                    }
                                }
                            },
                            symbol: 'none',
                            lineStyle: {
                                color: color[3]
                            },
                            checkpointStyle: {
                                color: '#ffffff',
                                borderColor: color[3],
                                borderWidth: 1
                            },
                            controlStyle: {
                                showNextBtn: false,
                                showPrevBtn: false,
                                normal: {
                                    color: '#666',
                                    borderColor: '#666'
                                },
                                emphasis: {
                                    color: color[3],
                                    borderColor: color[3]
                                }
                            },
                            data: data.map(function (ele) {
                                return ele.date.slice(2)
                            })
                        },
                        title: {
                            text: '(COVID-19) ' + label,
                            subtext: 'date: "2020,1 - 2021,10"',
                            left: 'center',
                            top: 'top',
                            textStyle: {
                                fontSize: 25,
                                color: color[4]
                            }
                        },
                        toolbox: {
                            show: true,
                            x: 'left',
                            feature: {
                                dataView: {},
                                saveAsImage: {}
                            }
                        },
                        tooltip: {
                        },
                        grid: {
                            left: '12%',
                            right: '45%',
                            top: '70%',
                            bottom: 20
                        },
                        xAxis: {},
                        yAxis: {},
                        series: [
                            {
                                id: 'map',
                                name: label,
                                type: 'map',
                                map: 'world',
                                roam: true,
                                zoom: 1.7,
                                top: '15%',
                                bottom: '50%',
                                itemStyle: {
                                    normal: {
                                        areaColor: '#ffeece',
                                        borderWidth: 0.5,
                                        borderColor: '#a7a7a7'
                                    },
                                    emphasis: {
                                        areaColor: '#DF013A',
                                        borderWidth: 1,
                                        borderColor: '#000000'
                                    }
                                },
                                data: []
                            },
                            {
                                id: 'bar',
                                type: 'bar',
                                tooltip: {
                                    show: false
                                },
                                label: {
                                    normal: {
                                        show: true,
                                        position: 'right',
                                        textStyle: {
                                            color: '#a7a7a7'
                                        }
                                    }
                                },
                                data: []
                            },
                            {
                                id: 'pie',
                                type: 'pie',
                                radius: ['8%', '20%'],
                                center: ['75%', '85%'],
                                roseType: 'radius',
                                tooltip: {
                                    formatter: '{b} {d}%'
                                },
                                data: [],
                                label: {
                                    normal: {
                                        textStyle: {
                                            color: color[4]
                                        }
                                    }
                                },
                                labelLine: {
                                    normal: {
                                        lineStyle: {
                                            color: '#a7a7a7'
                                        }
                                    }
                                },
                                itemStyle: {
                                    normal: {
                                        borderColor: 'rgba(0,0,0,0.3)',
                                        borderSize: 1
                                    }
                                }
                            }
                        ]
                    },
                    options: []
                };
                for (var i = 0; i < data.length; i++) {
                    var datas = [];
                    Object.keys(data[i].data).forEach(function (key) {
                        if ($.inArray(key, _this.district) == -1) {
                            datas.push({ name: key, value: data[i].data[key] })
                        }
                    });
                    datas.sort(function (o1, o2) {
                        return o2.value > o1.value;
                    })

                    option.options.push(
                        {
                            visualMap: [{
                                dimension: 0,
                                left: 10,
                                itemWidth: 12,
                                min: datas[datas.length - 1].value,
                                max: datas[0].value,
                                text: ['High', 'Low'],
                                textStyle: {
                                    color: '#000000'
                                },
                                inRange: {
                                    color: color
                                }
                            }],
                            xAxis: {
                                type: 'value',
                                boundaryGap: [0, 0.1],
                                axisLabel: {
                                    show: false,
                                }
                            },
                            yAxis: {
                                type: 'category',
                                axisLabel: {
                                    textStyle: {
                                        color: color[4]
                                    }
                                },
                                data: datas.slice(0, 9).map(function (item) {
                                    return item.name;
                                })
                            },
                            series: [{
                                id: 'map',
                                data: datas
                            }, {
                                id: 'bar',
                                data: datas.slice(0, 9)
                            }, {
                                id: 'pie',
                                data: datas.slice(0, 9)
                            }]
                        })
                }
                centerView.hideLoading()
                centerView.setOption(option)
                _this.onClickMap(centerView)

            },
            onClickMap(centerView) {
                centerView.on('click', function (params) {
                    if (params.seriesId == "map") {
                        $.get('/find', { countryName: params.name, Type: params.seriesName }, function (data) {
                            $("#myModalLabel").empty();
                            $("#myModalLabel").append(params.name);
                            var detialsDom = document.getElementById('detials-charts')
                            var detialsView = echarts.init(detialsDom)
                            detialsView.clear()
                            var barOption = {
                                title: {
                                    text: params.seriesName,
                                    left: 'center',
                                    top: 'top'
                                },
                                tooltip: {
                                    trigger: 'item'
                                },
                                xAxis: {
                                    type: 'category',
                                    data: data.map(function (item) {
                                        return item.name;
                                    })
                                },
                                yAxis: {
                                    type: 'value'
                                },
                                toolbox: {
                                    show: true,
                                    x: 'left',
                                    feature: {
                                        dataView: {},
                                        restore: {},
                                        saveAsImage: {}
                                    }
                                },
                                series: {
                                    name: params.name,
                                    type: 'bar',
                                    data: data.map(function (item) {
                                        return item.value;
                                    }),
                                    universalTransition: true
                                }
                            };
                            var pieOption = {
                                title: {
                                    text: params.seriesName,
                                    left: 'center',
                                    top: 'top'
                                },
                                tooltip: {
                                    trigger: 'item'
                                },
                                toolbox: {
                                    show: true,
                                    x: 'left',
                                    feature: {
                                        dataView: {},
                                        restore: {},
                                        saveAsImage: {}
                                    }
                                },
                                series:
                                {
                                    name: params.name,
                                    type: 'pie',
                                    label: {
                                        formatter: '{d}%'
                                    },
                                    data: data,
                                    universalTransition: true
                                }
                            }
                            var lineOption = {
                                title: {
                                    text: params.seriesName,
                                    left: 'center',
                                    top: 'top'
                                },
                                tooltip: {
                                    trigger: 'axis',
                                    axisPointer: {
                                        type: 'cross',
                                        label: {
                                            backgroundColor: '#6a7985'
                                        }
                                    }
                                },
                                toolbox: {
                                    show: true,
                                    x: 'left',
                                    feature: {
                                        dataView: {},
                                        restore: {},
                                        saveAsImage: {}
                                    }
                                },
                                xAxis: [
                                    {
                                        type: 'category',
                                        boundaryGap: false,
                                        data: data.map(function (item) {
                                            return item.name;
                                        })
                                    }
                                ],
                                yAxis: [
                                    {
                                        type: 'value'
                                    }
                                ],
                                series: [
                                    {
                                        name: params.name,
                                        type: 'line',
                                        stack: 'Total',
                                        areaStyle: {},
                                        emphasis: {
                                            focus: 'series'
                                        },
                                        data: data,
                                        universalTransition: true
                                    }
                                ]
                            };
                            let currentOption = barOption;
                            detialsView.setOption(currentOption);
                            $('#myModal').modal('show')
                            document.getElementById('btn').addEventListener('click', function () {
                                if (currentOption == barOption) {
                                    currentOption = pieOption;
                                }
                                else if (currentOption == pieOption) {
                                    currentOption = lineOption;
                                }
                                else if (currentOption == lineOption) {
                                    currentOption = barOption;
                                }
                                detialsView.setOption(currentOption, true);
                            }, false);
                        })
                    }
                });
            }

        }
    })
</script>

</html>